{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block stylesheets %}
    body {
        margin:0;
        padding:0;
    }
    p {
        font-size: 1.5em;
    }
    .color { 
        color: #{{data['color']}};
    }
    #successNotification {
        width:100%;
        height:auto;
        background-color: #90EE90;
        text-align: center;
        font-size:1.3em;
        padding:2rem;
        display: flex;
        flex-direction:row;
        justify-content: center;
    }
    .hidden {
        display:none;
    }
{% endblock %}
{% block body %}
{% if is_success %}
    <div id="successNotification">
        <p>Successfully completed form</p>
    </div>
{% endif %}

{% if data %}
<div class="container">
    <p>Hey {{ data['name'] }}, you have {{ data['age'] }} years</p>
    <p class="color">This is a text with your favorite color</p>
    </div>
    

{% else %}
    <div class="container">
    <h2>Please give mores informations about you</h2>
    {{ form(basic_form) }}
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    function hidden() {
        let div = document.getElementById('successNotification');
        div.classList.toggle('hidden')
    };
{% endblock %}
